/* font-family: Poppins 
Font Weight: 300, 400 e 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

.bg-img {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.bg-img>img {
    width: 100vw;
    pointer-events: none;
}

#rocket {
    height: 350px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>h2 {
    color: var(--purple);
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 30px;
    margin: 0;
}

.titles {
    display: flex;
    justify-content: space-around;
    width: 446px;
    color: var(--light-grey);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

.counter {
    margin: 0;
    width: 446px;
    color: var(--black);
    font-weight: 500;
    font-size: 63px;
    letter-spacing: 10px;
}

.release {
    color: var(--light-grey);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.call-back {
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
}

button {
    background-color: var(--purple);
    border: none;
    color: white;
    width: 160px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 20px;
    height: 70vh;
}

.close {
    color: var(--light-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form > input{
    width: 80%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    border-radius: 15px;
    border: 2px solid var(--light-grey);
}